<p id ="HIPPA">*This Website is not subject to the Health Insurance Portability and Accountability Act, but it does take it into consideration. This website will hold personal information (including medical history) to the best of its ability. Information will not be shared unless permission is given</p>
<p id = "bottomer">Last Updated July 2021</p>
<p class="text-center text-muted">ITEC 4750 Group 4</p>

