<div class = "FullWrapper" style="padding-left: 100px; padding-right: 100px; padding-bottom: 50px;">
    <form id="loginform">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="coughing">
            <label class="form-check-label" for="coughing">coughing</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="sneezing">
            <label class="form-check-label" for="sneezing">sneezing</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="aches">
            <label class="form-check-label" for="aches">aches</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="fever">
            <label class="form-check-label" for="fever">fever</label>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>