<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <div class = "FullWrapper">
                <div class = "Wrapper1">
                    <img src ="/GroupPic.png" alt ="GroupBanner" style="height: 300px; width: 400px;">
                </div>
                <div class ="desc">
                    <p> We are students apart of Middle Georgia State University. This Project was made to be
                        a Functional Project for the ITEC 4750: Senior Capstone Course. 
                        <div class = "divider"></div>
                        Nasir Martin: I am a aspiring Software Engineer. I am a Macon Native that have been apart of the 
                        Middle Georgia State University Community since Fall 2017. I gravitude mainly towards Java and Python as 
                        Programming Languages. 
                    </p>
                    <div class = "spacer100"></div>
                </div>
                <p>
                    
                </p>
            
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>