<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <div class = "FullWrapper">
                <div class = "Wrapper1">
                    <img src ="/GroupPic.png" alt ="GroupBanner" style="height: 300px; width: 400px;">
                </div>
                <div class ="desc">
                    <p> We are students apart of Middle Georgia State University. This Project was made to be
                        a Functional Project for the ITEC 4750: Senior Capstone Course. 
                        <div class = "divider" style="margin-top: 10px;">
                        Nasir Martin: I am a aspiring Software Engineer. I am a Macon Native that have been apart of the 
                        Middle Georgia State University Community since Fall 2017. I gravitude mainly towards Java and Python as 
                        Programming Languages.
                        </div>
                        <div class = "divider" style="margin-top: 20px;">
                        Joel Buchhamer: I’m a Cyber Security Information Technology senior, 
                        and should be graduating this fall 2021. I’m currently reside in 
                        Macon Georgia. I have a always have had a niche for the networking and hardware but
                        am way more passionate about Cybersecurity. 
                        </div>
                        <div class = "divider" style="margin-top: 20px; margin-left: -450px;">
                        Peyton Richards: I am a networking and cyber security IT student here at Middle Georgia State University. 
                        I currently reside in Tuscaloosa, AL. Networking has always been my niche being that I find the different ways devices communicate with each 
                        other interesting and understand how important it is to keep networks up and running
                        </div>
                        <div class = "divider" style="margin-top: 20px; margin-left: -450px;">
                        
                        Johnathan Conrad:  I am a Senior pursuing a BSIT with a concentration in Networking; I try to stay involved
                        in learning as much as I can about software engineering as well. I currently reside in Middle Georgia. I love learning about new technologies and 
                        furthering my skills through my hobby projects at home. 
                        </div>
                    </p>
                    <div class = "spacer100"></div>
                </div>
                <p>
                    
                </p>
            
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>