<!DOCTYPE HTML>
<HTML>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <%- include('./partials/form2'); %>
  </main>
</body>
</HTML>