<!DOCTYPE html>
<html lang="en">
<!--Gives out contact info for creators-->
<head>
    <%- include('./partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <div class = "FullWrapper">
                <div class = "Wrapper1">
                    <img src ="/GroupPic.png" alt ="GroupBanner" style="height: 300px; width: 400px;">
                </div>
                <div class ="desc">
                    <p> We are students apart of Middle Georgia State University. This Project was made to be
                        a Functional Project for the ITEC 4750: Senior Capstone Course. 
                        <div class = "contact">
                        <div class = "divider"></div>
                        Nasir Martin: 478-388-9488
                        <div class = "divider"></div>
                        Email Address: nasir.martin2k@mga.edu
                        </div>
                        <div class = "contact">
                        <div class = "divider"></div>
                        Joel Buchhamer: 478-388-9437
                        <div class = "divider"></div>
                        Email Address: joel.buchhamerps@mga.edu
                        </div>
                        <div class = "contact">
                        <div class = "divider"></div>
                        Johnathan Conrad: 478-388-9423
                        <div class = "divider"></div>
                        Email Address: johnathancoradk@mga.edu
                        </div>
                        <div class = "contact">
                        <div class = "divider"></div>
                        Peyton Richards: 478-388-9443
                        <div class = "divider"></div>
                        Email Address: peyton.richardsw2@mga.edu
                        </div>

                         
                    </p>
                    <div class = "spacer100"></div>
                </div>
                <p>
                    
                </p>
            
            </div>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>

</html>