<!DOCTYPE HTML>
<HTML>
<link href="../views/StyleSheet.css"rel="stylesheet">
<title>Login - MGA COVID TRACK</title>
<footer>
<div class = "wrapper">
<style>
      li a {
        display:-webkit-box;
        color: white;
        text-align: none;
        padding: 14px 16px;
        text-decoration:none;
      }
      
      li a:hover {
        background-color: #111;
      }
      ul :last-child{
          border-bottom: none;
      }
</style>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">

            <a href="../views/HomePage.html"><img src="../views/images/Logo.png" height="150" width="200" style="float: left;margin-top: 45px ;"></a>
            <ul id = "navListing">
            <li id = "navL1"><a href="../views/Login.ejs">Login</a></li>
            <li id = "navL1"><a href="../views/ContactUs.ejs">Contact Us</a></li>
            <li id = "navL1"><a href="../views/AboutUs.ejs">About Us</a></li>
            <li id = "navL1"><a href="../views/Status.ejs">Status</a></li>
            <li id = "navL1"><a href="../views/Help.ejs">Help / FAQ</a></li>
            <li id = "navL1"><a href="../views/Inbox.ejs">Messaging</a></li>
          </ul>
          
      
    </form>
  </nav>
</div>
</footer>
</button>




<h1 id = "Heading">This Is A COVID/Symptom Tracking System</h1>
</HTML>

