<!DOCTYPE html>
<html lang="en">
  <!--Home pages that gives info over Project and Coronavirus-->
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <body>
      <div class="FullWrapper">
        <div class="Wrapper1">
          <article>
            <h1 style="text-align: center; text-decoration: underline;">Recent News</h1>
            <div class="link-cont">
              <a class="link" href="https://directorsblog.nih.gov/2020/03/26/genomic-research-points-to-natural-origin-of-covid-19/">
                <h2>
                  Genomic Study Points to Natural Origin of COVID-19
                </h2>
              </a>
            </div>
            <div class="link-cont">
              <a class="link" href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/fully-vaccinated-guidance.html">
                <h2>
                  CDC Recent Guidelines For Vaccinated People
                </h2>
              </a>
            </div>
            <div class="link-cont">
              <a class="link" href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/quarantine.html">
                <h2>
                  When to Qurantine By CDC
                </h2>
              </a>
            </div>
            <div class="link-cont">
              <a class="link" href="https://covid.cdc.gov/covid-data-tracker/#datatracker-home">
                <h2>
                  CDC Weekly Data Tracker
                </h2>
              </a>
            </div>
            <div class="link-cont">
              <a class="link" href="https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/care-for-someone.html">
                <h2>
                  CDC Caring for Others with COVID Symptoms
                </h2>
              </a>
            </div>
            <div class="link-cont">
              <a class="link" href="https://www.cdc.gov/coronavirus/2019-ncov/long-term-effects.html">
                <h2>
                  CDC Long Term Effects Of COVID-19
                </h2>
              </a>
            </div>
            <p></p>
          </article>
        </div>
        <div class="Wrapper2">
          <p id=body>
            This is a simple website that tracks
            COVID-19 Symptoms.
            Everything Stored into this website is sent
            to a database that only admins and users
            will have some type of viewing of.
          </p>
        </div>
      </div>
    </body>
  </main>
  <footer>
    <%- include('./partials/footer'); %>
  </footer>
</html>