<!DOCTYPE HTML>
<HTML>
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">
  <header>
    <%- include('./partials/header'); %>
  </header>
  <main>
    <%- include('./partials/form2'); %>
  </main>
  <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  <title>Login - MGA COVID TRACK</title>
</head>
<body>
  <div>
    <nav class="navbar navbar-light bg-light">
        <a href="../views/HomePage.html"><img src="../views/images/Logo.png" height="150" width="200" style="float: left;margin-top: 45px ;"></a>
          <ul>
            <li><a href="../views/Login.html">Login</a></li>
            <li><a href="../views/ContactUs.html">Contact Us</a></li>
            <li><a href="../views/AboutUs.html">About Us</a></li>
            <li><a href="../views/Status.html">Status</a></li>
            <li><a href="../views/Help.html">Help / FAQ</a></li>
            <li><a href="../views/Inbox.html">Messaging</a></li>
          </ul>
    </nav>
  </div>
  <div class="mb-3">
    <label for="EmailAdd1" id ="lblEmail" class="form-label">Email address/Username: </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    <div class = "divider"></div>
    <label for="Password1" id ="lblPassw" class="form-label">Password</label>
    <input type="password" class="form-control" id="Password" placeholder="">
    <div class ="divider" id="divider2"></div>
    <a href="../views/SignUp.html" id ="SignUp">Sign Up</a>
  </div>
</body>
</HTML>