<!DOCTYPE HTML>
<HTML>
<link href="../views/StyleSheet3.css"rel="stylesheet">
<title>SigningUp - MGA COVID TRACK</title>
<footer>
<div class = "wrapper">
<style>
    
      

      
      li a {
        display:-webkit-box;
        color: white;
        text-align: none;
        padding: 14px 16px;
        text-decoration:none;
      }
      
      li a:hover {
        background-color: #111;
      }
      ul :last-child{
          border-bottom: none;
      }
    </style>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-start">

            <a href="../views/HomePage.html"><img src="../views/images/Logo.png" height="150" width="200" style="float: left;margin-top: 45px ;"></a>
            <ul id = "navListing">
            <li id = "navL1"><a href="../views/Login.html">Login</a></li>
            
            <li id = "navL1"><a href="../views/ContactUs.html">Contact Us</a></li>
            
            <li id = "navL1"><a href="../views/AboutUs.html">About Us</a></li>
            
            <li id = "navL1"><a href="../views/Status.html">Status</a></li>

            <li id = "navL1"><a href="../views/Help.html">Help / FAQ</a></li>
        
            <li id = "navL1"><a href="../views/Inbox.html">Messaging</a></li>
          </ul>
          
      
    </form>
  </nav>
</div>
</footer>
<body>
    <div class="mb-3">
        <label for="EmailSign" id ="lblEmail" class="form-label">Email address/Username: </label>
        <input type="email" class="form-control" id="EmailSign" placeholder="">
        <div class = "divider"></div>
        <label for="PassSign" id ="lblPassw" class="form-label">Password </label>
        <input type="password" class="form-control" id="PassSign" placeholder="">
        <div class ="divider"></div>
        <label for="Phone" id ="lblPhone" class="form-label">Phone Number: </label>
        <input type="tel" class="form-control" id="Phone" placeholder="">
        <div class = "divider"></div>
        <button id = "submit"><a>Submit</a></button>
        
    </div>

</body>