/**Footer and Navigation**/
#Heading{color: blueviolet;}
.wrapper{border-bottom: 2px solid black;}
#menu {list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: purple;
    border: 1px solid #555;}
#a{border-bottom: 2px solid black; }

#navListing{ margin: 0; padding: 0; overflow:hidden; 
    background-color: purple; height:285px;}
#navL1{ border-bottom: 2px solid black;}
.mb-3{margin-top: 100px;margin-left: 450px;letter-spacing: 3px; height: 200px;}
#SignUp{color: black; margin-left: 200px;}
#lblPassw{padding-right: 147px;}
#lblPhone{padding-right:93px;}
.divider{margin-top: 20px;}
#submit{margin-left: 160px; margin-top: 50px;}
